@using HRpest.BL.Enum
@model HRpest.BL.Model.JobOfferCreateView

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>JobOffer</h4>
<hr />
<div class="row">
    <div class="col-sm-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActiveUntil" class="control-label"></label>
                <input asp-for="ActiveUntil" class="form-control" />
                <span asp-validation-for="ActiveUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="CompanyName" class="control-label"></label>
            <select asp-for="CompanyName" asp-items="@Model.Companies.Select(x=>new SelectListItem() {Text = x.Name, Value = x.Name})" class="form-control"></select>
            <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentType" class="control-label"></label>
                <select asp-for="EmploymentType" asp-items="Html.GetEnumSelectList<EmploymentType>()" class="form-control"></select>
                <span asp-validation-for="EmploymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionLevel" class="control-label"></label>
                <select asp-for="PositionLevel" asp-items="Html.GetEnumSelectList<PositionLevel>()" class="form-control"></select>
                <span asp-validation-for="PositionLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursWeekly" class="control-label"></label>
                <input asp-for="HoursWeekly" class="form-control" />
                <span asp-validation-for="HoursWeekly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemoteHoursWeekly" class="control-label"></label>
                <input asp-for="RemoteHoursWeekly" class="form-control" />
                <span asp-validation-for="RemoteHoursWeekly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumPay" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="salary1">PLN</span>
                    </div>
                    @Html.EditorFor(m => m.MinimumPay, new { htmlAttributes = new { @class = "form-control", placeholder = "From" } })
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <span asp-validation-for="MinimumPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumPay" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="salary1">PLN</span>
                    </div>
                    @Html.EditorFor(m => m.MaximumPay, new { htmlAttributes = new { @class = "form-control", placeholder = "From" } })
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <span asp-validation-for="MaximumPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionName" class="control-label"></label>
                <input asp-for="PositionName" class="form-control" />
                <span asp-validation-for="PositionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobDescription" class="control-label"></label>
                <textarea asp-for="JobDescription" class="form-control"></textarea>
                <span asp-validation-for="JobDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsualTasks" class="control-label"></label>
                <textarea asp-for="UsualTasks" class="form-control"></textarea>
                <span asp-validation-for="UsualTasks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobRequirements" class="control-label"></label>
                <textarea asp-for="JobRequirements" class="form-control"></textarea>
                <span asp-validation-for="JobRequirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobBenefits" class="control-label"></label>
                <textarea asp-for="JobBenefits" class="form-control"></textarea>
                <span asp-validation-for="JobBenefits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
