@model HRpest.BL.Model.JobApplicationCreateView

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <script>
        $("#jobAppForm").validate();
    </script>

<h4>Application for @Model.JobOffer.PositionName at @Model.JobOffer.CreatedFor.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="jobAppForm">
            @Html.Hidden("JobOfferId", Model.JobOffer.Id)
            <div asp-validation-summary="None" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CvHandle" class="control-label" ></label>
                <input asp-for="CvHandle" class="form-control" minlength="3" required/>
                <span asp-validation-for="CvHandle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalInformation" class="control-label"></label>
                <input asp-for="AdditionalInformation" class="form-control"/>
                <span asp-validation-for="AdditionalInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
