@model HRpest.BL.Model.Company
@using HRpest.BL.Enum;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
<script>
    $("#jobAppForm").validate();
</script>
<h1>Edit</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" id="jobAppForm">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" minlength="2" required />
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" minlength="2" required />
            </div>
            <div class="form-group">
                <label asp-for="YearOfEstablishment" class="control-label"></label>
                <input asp-for="YearOfEstablishment" class="form-control" digit min="1600" max="2100" />
            </div>
            <div class="form-group">
                <label asp-for="NumberOfEmployees" class="control-label"></label>
                <input asp-for="NumberOfEmployees" class="form-control" digit min="0" max="1000000" required />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="DefaultNumberOfHoursWeekly" class="control-label"></label>
                <input asp-for="DefaultNumberOfHoursWeekly" class="form-control" digit min="0" max="80" />
            </div>
            <div class="form-group">
                <label asp-for="DefaultNumberOfRemoteHoursWeekly" class="control-label"></label>
                <input asp-for="DefaultNumberOfRemoteHoursWeekly" class="form-control" digit min="0" max="80" />
            </div>
            <div class="form-group">
                <label asp-for="DefaultEmploymentType" class="control-label"></label>
                <select asp-for="DefaultEmploymentType" asp-items="Html.GetEnumSelectList<EmploymentType>()" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
